body{
    background-image: url(2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.container { text-align: center; margin-top: 30px; }
table { margin: auto; }
input {  font-size: 30px; border: 3px solid; border-radius: 21px; height:50px; width:auto}
button { font-size: 34px; width: 90px; height: 45px; background-color: #bbc4c4; border-radius: 20px; margin: 2px; }
.calculator { display: inline-block; background-color: #dfaadb; padding: 20px; border-radius: 20px; border: 3px solid; }
 h1{
     font-size: 34px;
 }